@using Shared.Templates
@model WelcomeTemplate

<!DOCTYPE html>
<html lang="">
<head>
    <title>Вітаємо!</title>
</head>
<body>
<h1>Вітаю, @Model.UserName!</h1>
<p>Це тестовий шаблон листа.</p>
<p>@Model.Test</p>
</body>
</html>