@using Shared.Templates
@model WelcomeTemplate

<!DOCTYPE html>
<html lang="">
<head>
    <title>Welcome</title>
</head>
<body>
<h1>Привет, @Model.UserName!</h1>
<p>Мы рады видеть тебя.</p>
<p>@Model.Test</p>
</body>
</html>