@model Shared.Templates.Test.SocketErrorTestTemplate

@{
    ViewBag.Subject = "Тест Socket Exception";
}

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Subject</title>
</head>
<body>
<h1>@Model.Message</h1>
</body>
</html>