@model Shared.Templates.LicenseTerms.Decline.LicenseTermsDecline

@{
    ViewBag.Subject = $"Модерація ліцензійних умов — Відхилено пункт — {Model.LicenseTermTitle}";
}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Subject</title>
</head>
<body>
<p>Шановний @Model.UserFirstName @Model.UserLastName!</p>
<p>Ваш запит на перевірку пункту ліцензійних умов «@Model.LicenseTermTitle» був розглянутий модератором та відхилений.</p>
<p>Причина відхилення: @Model.LicenseTermComment</p>
<p>Будь ласка, внесіть необхідні правки згідно з коментарем та відправте пункт на повторну перевірку через ваш особистий кабінет: https://is.op.edu.ua/employee/details/@Model.employeeID</p>
<p>З повагою, адміністрація інформаційної системи «Одеської політехніки»</p>
</body>
</html>