@model Shared.Templates.LicenseTerms.Approve.LicenseTermsApprove

@{
    ViewBag.Subject = $"Модерація ліцензійних умов — Ухвалено пункт — {Model.LicenseTermTitle}";
}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Subject</title>
</head>
<body>
<p>Шановний @Model.UserFirstName @Model.UserLastName!</p>
<p>Ваш запит на перевірку пункту ліцензійних умов «@Model.LicenseTermTitle» успішно пройшов модерацію та був ухвалений.</p>
<p>Жодних додаткових дій з вашого боку не потрібно.</p>
<p>Для перегляду повного переліку Ваших досягнень у професійній діяльності перейдіть за посиланням: https://is.op.edu.ua/employee/details/@Model.employeeID</p>
<p>З повагою, адміністрація інформаційної системи «Одеської політехніки»</p>
</body>
</html>